.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.download-options {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

video {
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
